.header {
	
	&__bodas{
		padding: 30px 15px;
		color: $dark;
		font-weight: 500;
		outline: none;
		
		@media(max-width: 991.98px){
			padding: 10px 15px;
		}

		&--active{
			color:#c5b2a0 ;
		}

		&:hover{
			color:#c5b2a0 ;
		}

	}

	&__cumpleaños{
		padding: 30px 15px;
		color: $dark;
		font-weight: 500;
		outline: none;
		
		@media(max-width: 991.98px){
			padding: 10px 15px;
		}

		&--active{
			color:#30A5B0 ;
		}

		&:hover{
			color:#30A5B0 ;
		}
	}

	&__five{
		padding: 30px 15px;
		color: $dark;
		font-weight: 500;
		outline: none;
		
		@media(max-width: 991.98px){
			padding: 10px 15px;
		}

		&--active{
			color:#ff1902 ;
		}

		&:hover{
			color:#ff1902 ;
		}
	}

	&__lgbt{
		padding: 30px 15px;
		color: $dark;
		font-weight: 500;
		outline: none;
		
		@media(max-width: 991.98px){
			padding: 10px 15px;
		}

		&--active{
			color:#7f69a5 ;
		}

		&:hover{
			color:#7f69a5 ;
		}
	}

	&__xv{
		padding: 30px 15px;
		color: $dark;
		font-weight: 500;
		outline: none;
		
		@media(max-width: 991.98px){
			padding: 10px 15px;
		}

		&--active{
			color:#e4007c;
		}

		&:hover{
			color:#e4007c ;
		}
	}
	
	&__mochileros{
		padding: 30px 15px;
		color: $dark;
		font-weight: 500;
		outline: none;
		
		@media(max-width: 991.98px){
			padding: 10px 15px;
		}

		&--active{
			color:#6AE751;
		}

		&:hover{
			color:#6AE751 ;
		}
	}
	
	&__mujeres{
		padding: 30px 15px;
		color: $dark;
		font-weight: 500;
		outline: none;
		
		@media(max-width: 991.98px){
			padding: 10px 15px;
		}

		&--active{
			color:#F223D6;
		}

		&:hover{
			color:#F223D6 ;
		}
	}

	&__teen{
		padding: 30px 15px;
		color: $dark;
		font-weight: 500;
		outline: none;
		
		@media(max-width: 991.98px){
			padding: 10px 15px;
		}

		&--active{
			color:#5C1BBF;
		}

		&:hover{
			color:#5C1BBF ;
		}
	}
	

}
